<!DOCTYPE html>
<html>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>@ViewBag.Title - Licenta</title>
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<link href="~/CssItems/fontawesome-all.css" rel="stylesheet" />
<meta charset="UTF-8">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html, body, h1, h2, h3, h4, h5 {
    font-family: "Raleway", sans-serif;
}

dd1 {
    display: block;
    margin-left: 175px;
}

dd2 {
    display: block;
    margin-left: 230px;
}

dd3 {
    display: block;
    margin-left: 236px;
}

dd4 {
    display: block;
    margin-left: 260px;
}

dd5 {
    display: block;
    margin-left: 532px;
}

dd6 {
    display: block;
    margin-left: 447px;
}
.w3-padding-16 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.w3-container {
    padding: 8px;
}

​.header {
    height: 0px;
}
.content {
    position: absolute;
    top: 280px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow-y: scroll;
}
@@media (max-width: 780px) {
    .content {
        position: relative;
        top: 0px;
    }
}
</style>
<body>
    <div class="header">
        <div class="w3-row-padding w3-margin-bottom">
            <a href="/Home/TemperatureHumidity">
                <div class="w3-quarter">
                    <div class="w3-container w3-red w3-padding-16">
                        <div class="w3-left"><i class="fa fa-thermometer-2 w3-xxxlarge"></i></div>
                        <div class="w3-clear"></div>
                        <h4>Temperature & Humidity</h4>
                    </div>
            </a>
        </div>
        <div class="w3-quarter">
            <a href="/Home/TemperatureHumidityCriticalData">
                <div class="w3-container w3-red w3-padding-16">
                    <div class="w3-left"><i class="fa fa-exclamation-triangle w3-xxxlarge"></i></div>
                    <div class="w3-clear"></div>
                    <h4>Temperature & Humidity Critical Data</h4>
                </div>
            </a>
        </div>
        <div class="w3-quarter">
            <a href="/Home/MotionDetection">
                <div class="w3-container w3-blue w3-padding-16">
                    <div class="w3-left"><i class="fa fa-eye w3-xxxlarge"></i></div>
                    <div class="w3-clear"></div>
                    <h4>Motion Detection</h4>
                </div>
            </a>
        </div>
        <div class="w3-quarter" >
            <a href="/Home/SoundDetection">
                <div class="w3-container w3-teal w3-padding-16">
                    <div class="w3-left"><i class="fa fa-volume-up w3-xxxlarge"></i></div>
                    <div class="w3-clear"></div>
                    <h4>Sound Detection</h4>
                </div>
            </a>
        </div>
    </div>
    <div class="header">
        <div class="w3-row-padding w3-margin-bottom">
            <a href="/Home/GasDetection">
                <div class="w3-quarter">
                    <div class="w3-container w3-orange w3-text-white w3-padding-16">
                        <div class="w3-left"><i class="fa fa-exclamation-triangle w3-xxxlarge"></i></div>
                        <div class="w3-clear"></div>
                        <h4>Gas Detection</h4>
                    </div>
            </a>
        </div>
        <div class="w3-quarter">
            <a href="/Home/AirConditioning">
                <div class="w3-container w3-text-white w3-padding-16" style="background:#8f54bb">
                    <div class="w3-left"><i class="fas fa-cloud w3-xxxlarge"></i></div>
                    <div class="w3-clear"></div>
                    <h4>Air conditioning</h4>
                </div>
            </a>
        </div>
        <div class="w3-quarter">
            <a href="/Home/Charts">
                <div class="w3-container w3-text-white w3-padding-16" style="background:#0033cc">
                    <div class="w3-left"><i class="fa fa-area-chart w3-xxxlarge"></i></div>
                    <div class="w3-clear"></div>
                    <h4>Charts</h4>
                </div>
            </a>
        </div>
        <div class="w3-quarter">
            <a href="/Home/Setting">
                    <div class="w3-container w3-gray w3-padding-16">
                        <div class="w3-left"><i class="fa fa-list-alt w3-xxxlarge"></i></div>
                        <div class="w3-clear"></div>
                        <h4>Settings</h4>
            </a>
        </div>
    </div>
    <div class="content">
        @RenderBody()
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="/js/jquery.dataTables.js"></script>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
