@model SmartHouse.Models.AirConditioningSettings

@{
    ViewBag.Title = "AirConditioning";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .wide {
        width: 295px;
    }

    .buttonAirConditioningOnOff {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .buttonAirConditioningOnOff3 {
        background-color: white;
        color: black;
        border: 2px solid #8f54bb;
    }

    .buttonAirConditioningOnOff3:hover {
        background-color: #8f54bb;
        color: white;
    }



    .buttonAirConditioningOnOff3.active {
        background: #8f54bb;
    }


    .buttonAirConditioningMode {
        background-color: white;
        color: black;
        border: 2px solid #8f54bb;
    }


    .buttonAirConditioningMode.active {
        background: #8f54bb;
    }


    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        -webkit-animation-name: fadeIn; /* Fade in the background */
        -webkit-animation-duration: 0.4s;
        animation-name: fadeIn;
        animation-duration: 0.4s
    }

    /* Modal Content */
    .modal-content {
        position: fixed;
        bottom: 0;
        background-color: #fefefe;
        width: 100%;
        -webkit-animation-name: slideIn;
        -webkit-animation-duration: 0.4s;
        animation-name: slideIn;
        animation-duration: 0.4s
    }

    .modal-header {
        padding: 2px 16px;
        background-color: #8f54bb;
        color: white;
    }

    .modal-footer {
        padding: 2px 16px;
        background-color: white;
        color: white;
    }

    /* Add Animation */
    @@-webkit-keyframes slideIn {
        from {
            bottom: -300px;
            opacity: 0
        }

        to {
            bottom: 0;
            opacity: 1
        }
    }

    @@keyframes slideIn {
        from {
            bottom: -300px;
            opacity: 0
        }

        to {
            bottom: 0;
            opacity: 1
        }
    }

    @@-webkit-keyframes fadeIn {
        from {
            opacity: 0
        }

        to {
            opacity: 1
        }
    }

    @@keyframes fadeIn {
        from {
            opacity: 0
        }

        to {
            opacity: 1
        }
    }

    .modal-body {
        padding: 2px 20px;
        font-size: 16px;
    }
</style>

<div class="w3-row-padding w3-margin-bottom">
    <hr />
    <dl class="dl-horizontal">

        <div class="w3-container divred">
            <table>
                <tr>
                    <th>
                        <h1 class="w3-large">@Html.DisplayNameFor(model => model.AirConditioningOn)</h1>
                    </th>

                    <th>
                        <dd4>
                            <h2>
                                <button type="buttonAirConditioningOnOff" class="buttonAirConditioningOnOff buttonAirConditioningOnOff3" id="buttonAirConditioningOn" onclick="turnOnAirConditioning()">ON</button>
                                <button type="buttonAirConditioningOnOff" class="buttonAirConditioningOnOff buttonAirConditioningOnOff3" id="buttonAirConditioningOff" onclick="turnOffAirConditioning()">OFF</button>
                            </h2>
                        </dd4>
                    </th>
                </tr>

                <tr id="airConditioningWantedTemperature" hidden="true">
                    <th>
                        <h1 class="w3-large">@Html.DisplayNameFor(model => model.WantedTemperature)</h1>
                    </th>

                    <th>
                        <dd4>
                            <h2 class="w3-large">@Html.TextBoxFor(model => model.WantedTemperature, new { id = "WantedTemperatureTextBox", @class = "wide" })</h2>
                        </dd4>
                    </th>
                </tr>

                <tr id="airConditioningLastDetectedTemperature" hidden="true">
                    <th>
                        <h1 class="w3-large">Last detected temperature (Celsius degrees)</h1>
                    </th>

                    <th>
                        <dd4>
                            <h2 class="w3-large"> @Html.TextBox("LastDetectedTemperature", "", new { id = "LastDetectedTemperatureTextBox", @readonly = "readonly", @class = "wide" })</h2>
                        </dd4>
                    </th>
                </tr>

                <tr id="airConditioningLastDetectedTemperatureDateTime" hidden="true">
                    <th>
                        <h1 class="w3-large">Last detected temperature date</h1>
                    </th>

                    <th>
                        <dd4>
                            <h2 class="w3-large"> @Html.TextBox("LastDetectedTemperatureDateTime", "", new { id = "LastDetectedTemperatureDateTimeTextBox", @readonly = "readonly", @class = "wide" })</h2>
                        </dd4>
                    </th>
                </tr>

                <tr id="airConditioningMode" hidden="true">
                    <th>
                        <h1 class="w3-large">@Html.DisplayNameFor(model => model.AirConditioningMode)</h1>
                    </th>

                    <th>
                        <dd4>
                            <h2>
                                <button type="buttonAirConditioningOnOff" disabled="disabled" class="buttonAirConditioningOnOff buttonAirConditioningMode" id="buttonAirConditioningModeAuto">AUTO</button>
                                <button type="buttonAirConditioningOnOff" disabled="disabled" class="buttonAirConditioningOnOff buttonAirConditioningMode" id="buttonAirConditioningModeCool">COOL</button>
                                <button type="buttonAirConditioningOnOff" disabled="disabled" class="buttonAirConditioningOnOff buttonAirConditioningMode" id="buttonAirConditioningModeHeat">HEAT</button>
                            </h2>
                        </dd4>
                    </th>
                </tr>
            </table>
        </div>

        <button type="button" class="buttonAirConditioningOnOff buttonAirConditioningOnOff3" id="saveAirConditioningSettingsButton" onclick="saveAirConditioningSettings()">Save settings</button>


        <div>
            <iframe src="https://www.tplinkcloud.com/" height="800" width="1600"></iframe>
        </div>



        <!-- Popup for success -->
        <div id="popup" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <h2>Success!</h2>
                </div>
                <div class="modal-body">
                    <p>Settings were successfully saved!</p>
                </div>
                <div class="modal-footer">
                    <h3></h3>
                </div>
            </div>

        </div>

        <!-- Popup for validation -->
        <div id="popupValidation" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <h2>Error!</h2>
                </div>
                <div id="validationBody" class="modal-body">
                </div>
                <div class="modal-footer">
                    <h3></h3>
                </div>
            </div>

        </div>
    </dl>
</div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript">

    var span = document.getElementsByClassName("close")[0];
    var modal = document.getElementById('popup');
    var modalValidation = document.getElementById('popupValidation');

    $(window).bind("load", function () {

        var airConditioningSettings = @Html.Raw(Json.Encode(Model));

        if (airConditioningSettings.AirConditioningOn == true) {
            $('#buttonAirConditioningOn').addClass('active')
            $('#buttonAirConditioningOff').removeClass('active')

            if (airConditioningSettings.AirConditioningMode == 1)
                $('#buttonAirConditioningModeAuto').addClass('active');
            if (airConditioningSettings.AirConditioningMode == 2)
                $('#buttonAirConditioningModeCool').addClass('active');
            if (airConditioningSettings.AirConditioningMode == 3)
                $('#buttonAirConditioningModeHeat').addClass('active');

            $('#airConditioningWantedTemperature').show();
            $('#airConditioningLastDetectedTemperature').show();
            $('#airConditioningLastDetectedTemperatureDateTime').show();
            $('#airConditioningMode').show();

            getCurrentTemperature();
        }
        else {
            $('#buttonAirConditioningOn').removeClass('active');
            $('#buttonAirConditioningOff').addClass('active');
            intervalReadings = clearTimeout(intervalReadings);
        }
    });

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modalValidation) {
            modalValidation.style.display = "none";
        }

        if (event.target == modal) {
            modal.style.display = "none";
            modalValidation.style.display = "none";
        }
    }

    function getCurrentTemperature() {

         $.ajax({
            type: "GET",
            url: '@Url.Action("GetLastTemperatureDetected", "Home")',
            dataType: "json",
            success: function (response) {

                if (response.Id == 0) {
                    $('#LastDetectedTemperatureTextBox').val('NO RECORDS IN THE LAST 20 MIN');
                    $('#LastDetectedTemperatureDateTimeTextBox').val('NO RECORDS IN THE LAST 20 MIN');
                }
                else {
                    $('#LastDetectedTemperatureTextBox').val(response.Temperature);
                    $('#LastDetectedTemperatureDateTimeTextBox').val(new Date(response.InternalTime.match(/\d+/).map(Number)[0]).toLocaleString());
                }
            }
        });

         intervalReadings = setTimeout("getCurrentTemperature()", 10000);
    }

    function turnOnAirConditioning() {

        if (!$('#buttonAirConditioningOn').hasClass('active')) {
            $('#buttonAirConditioningOn').addClass('active')
            $('#buttonAirConditioningOff').removeClass('active')

            $('#airConditioningWantedTemperature').show();
            $('#airConditioningLastDetectedTemperature').show();
            $('#airConditioningLastDetectedTemperatureDateTime').show();
            $('#airConditioningMode').show();
            intervalReadings = setTimeout("getCurrentTemperature()", 10000);
        }
    }

    function turnOffAirConditioning() {

        if (!$('#buttonAirConditioningOff').hasClass('active')) {
            $('#buttonAirConditioningOff').addClass('active')
            $('#buttonAirConditioningOn').removeClass('active')

            $('#airConditioningWantedTemperature').hide();
            $('#airConditioningLastDetectedTemperature').hide();
            $('#airConditioningLastDetectedTemperatureDateTime').hide();
            $('#airConditioningMode').hide();
            intervalReadings = clearTimeout(intervalReadings);
        }
    }


    function saveAirConditioningSettings() {

        var validationMessage = '<p>';
        var validationError = false;

        if ($('#buttonAirConditioningOn').hasClass('active')) {
            if ($('#WantedTemperatureTextBox').val() == '') {
                validationMessage += '<p>Wanted temperature is mandatory</p>';
                validationError = true;
            }

            if ($('#buttonAirConditioningOn').hasClass('active')) {
                if ($('#WantedTemperatureTextBox').val() < 16) {
                    validationMessage += '<p>Wanted temperature should be greater or equal to 16 degrees Celsius</p>';
                    validationError = true;
                }

                if ($('#WantedTemperatureTextBox').val() > 32) {
                    validationMessage += '<p>Wanted temperature should be less or equal to 32 degrees Celsius</p>';
                    validationError = true;
                }
            }

            if ($('#LastDetectedTemperatureTextBox').val() == 'NO RECORDS IN THE LAST 20 MIN') {
                validationMessage += '<p>Turn on temperature sensor. No temperature detected in the last 20 minutes</p>';
                validationError = true;
            }
        }

        validationMessage += '</p>';

        if (validationError) {
            $("#validationBody").empty();
            $("#validationBody").append(validationMessage);
            modalValidation.style.display = "block";
            return;
        }
        else {
            modal.style.display = "block";
        }

        var airConditioningSettings = {

            "AirConditioningOn": $('#buttonAirConditioningOn').hasClass('active'),
            "WantedTemperature": $('#WantedTemperatureTextBox').val()
        };

        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveAirConditioningSettings", "Home")',
            data: airConditioningSettings,
            dataType: "json",
            success: function (response) {

                if (response.AirConditioningMode == 1) {
                    $('#buttonAirConditioningModeAuto').addClass('active')
                    $('#buttonAirConditioningModeCool').removeClass('active')
                    $('#buttonAirConditioningModeHeat').removeClass('active')
                }
                else if (response.AirConditioningMode == 2) {
                    $('#buttonAirConditioningModeAuto').removeClass('active')
                    $('#buttonAirConditioningModeCool').addClass('active')
                    $('#buttonAirConditioningModeHeat').removeClass('active')
                }
                else if (response.AirConditioningMode = 3) {
                    $('#buttonAirConditioningModeAuto').removeClass('active')
                    $('#buttonAirConditioningModeCool').removeClass('active')
                    $('#buttonAirConditioningModeHeat').addClass('active')
                }

            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + " " + errorThrown);
            }
        });


        if ($('#buttonAirConditioningOn').hasClass('active')) {
            intervalReadings = setTimeout("getCurrentTemperature()", 10000);
        }
    }

</script>


