@model SmartHouse.Models.Settings

@{
    ViewBag.Title = "Setting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button3 {
background-color: white;
color: black;
border: 2px solid #A1A1A1;
}

.button3:hover {
    background-color: #A1A1A1;
    color: white;
}

.buttonTempHumidityOnOff {
background-color: #4CAF50; /* Green */
border: none;
color: white;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
-webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
cursor: pointer;
}

.buttonTempHumidityOnOff3 {
    background-color: white;
    color: black;
    border: 2px solid #f44336;
}

.buttonTempHumidityOnOff3:hover {
    background-color: #f44336;
    color: white;
}

.buttonTempHumidityOnOff3.active {
    background: #f44336;
}


/* Button Motion Detection ON/OFF*/
.buttonMotionDetectionOnOff {
background-color: #4CAF50; /* Green */
border: none;
color: white;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
-webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
cursor: pointer;
}

.buttonMotionDetectionOnOff3 {
    background-color: white;
    color: black;
    border: 2px solid #2196F3;
}

.buttonMotionDetectionOnOff3:hover {
    background-color: #2196F3;
    color: white;
}

.buttonMotionDetectionOnOff3.active {
    background: #2196F3;
}


/* Button Sound Detection ON/OFF*/
.buttonSoundDetectionOnOff {
background-color: #4CAF50; 
border: none;
color: white;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
-webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
cursor: pointer;
}

.buttonSoundDetectionOnOff3 {
background-color: white;
color: black;
border: 2px solid #009688;
}

.buttonSoundDetectionOnOff3:hover {
    background-color: #009688;
    color: white;
}

.buttonSoundDetectionOnOff3.active {
    background: #009688;
}

/* Button Gas Detection ON/OFF*/
.buttonGasDetectionOnOff {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.buttonGasDetectionOnOff3 {
background-color: white;
color: black;
border: 2px solid #ff9800;
}

.buttonGasDetectionOnOff3:hover {
    background-color: #ff9800;
    color: white;
}

.buttonGasDetectionOnOff3.active {
    background: #ff9800;
}


.divred {
    background-color: white;
}

    .divred:hover {
        background-color: #ffa5a5;
    }

.divblue {
background-color: white;
}

    .divblue:hover {
        background-color: #a2d1f9;
    }

.divgreen {
background-color: white;
}

.divgreen:hover {
    background-color: #96ccc2;
}

.divyellow {
background-color: white;
}

.divyellow:hover {
    background-color: #f9d0a4;
}
.divgray {
    background-color: white;
}

.divgray:hover {
    background-color: #cccccc;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

.modal-header {
    padding: 2px 16px;
    background-color: #646566;
    color: white;
}

.modal-footer {
    padding: 2px 16px;
    background-color: white;
    color: white;
}

/* Add Animation */
@@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

.modal-body {
    padding: 2px 20px;
    font-size: 16px;
}
</style>

<div class="w3-row-padding w3-margin-bottom">
    <hr />
    <dl class="dl-horizontal">

        <div class="w3-container divred">
            <table>
                <tr>
                    <th>
                        <h1 class="w3-large">@Html.DisplayNameFor(model => model.TemperatureHumidityOn)</h1>
                    </th>

                    <th>
                        <dd1>
                            <h2>
                                <button type="buttonTempHumidityOnOff" class="buttonTempHumidityOnOff buttonTempHumidityOnOff3" id="buttonTemperatureHumidityOn" onclick="turnOnTemperatureHumidity()">ON</button>
                                <button type="buttonTempHumidityOnOff" class="buttonTempHumidityOnOff buttonTempHumidityOnOff3" id="buttonTemperatureHumidityOff" onclick="turnOffTemperatureHumidity()">OFF</button>
                            </h2>
                        </dd1>
                    </th>
                </tr>
                <tr id="temperatureEmailAlertYN">
                    <th>
                        <h1 class="w3-large">@Html.DisplayNameFor(model => model.CriticalTemperatureAlertYN)</h1>
                    </th>

                    <th>
                        <dd1>
                            <h2 class="w3-large">@Html.CheckBoxFor(model => model.CriticalTemperatureAlertYN, new { id = "temperatureAlertYNCheckBox", @onclick = "enableDisableTemperatureEmailAlert()" })</h2>
                        </dd1>
                    </th>
                </tr>

                <tr id="temperatureMinMaxAlertValueSettings">
                    <th>
                        <h1 class="w3-large">@Html.DisplayNameFor(model => model.CriticalTemperatureAlertMinValue)</h1>
                    </th>

                    <th>
                        <dd1>
                            <h2 class="w3-large">@Html.TextBoxFor(model => model.CriticalTemperatureAlertMinValue, new { id = "temperatureAlertMinValueTextBox" })</h2>
                        </dd1>
                    </th>
                    <th>
                        <label><span> < Temperature < </span></label>
                    </th>
                    <th>
                        <h2 class="w3-large">@Html.TextBoxFor(model => model.CriticalTemperatureAlertMaxValue, new { id = "temperatureAlertMaxValueTextBox" })</h2>
                    </th>
                </tr>

                <tr id="temperatureAlertIntervalSettings">
                    <th>
                        <h1 class="w3-large">@Html.DisplayNameFor(model => model.SendTemperatureEmailAlertInterval)</h1>
                    </th>

                    <th>
                        <dd1>
                            <h2 class="w3-large">@Html.TextBoxFor(model => model.SendTemperatureEmailAlertInterval, new { id = "sendTemperatureEmailAlertIntervalTextBox" })</h2>
                        </dd1>
                    </th>

                    <th>
                        <div class="w3-container">
                            <h2 class="w3-large">
                                @Html.DropDownListFor(model => model.SendTemperatureEmailAlertIntervalUnitMeasure, new SelectList(new List<Object>
                                                                                                                                                        {
                                                                                                                                                        new { value = 1 , text = "MINUTE"  },
                                                                                                                                                        new { value = 2 , text = "HOUR" },
                                                                                                                                                        new { value = 3 , text = "DAY"}
                                                                                                                                                        },
"value",
"text",
@Model.SendTemperatureEmailAlertIntervalUnitMeasure), new { id = "sendTemperatureEmailAlertIntervalUnitMeasureDropDownList" })
                            </h2>
                        </div>
                    </th>
                </tr>

                <tr id="humidityEmailAlertYN">
                    <th>
                        <h1 class="w3-large">@Html.DisplayNameFor(model => model.CriticalHumidityAlertYN)</h1>
                    </th>

                    <th>
                        <dd1>
                            <h2 class="w3-large">@Html.CheckBoxFor(model => model.CriticalHumidityAlertYN, new { id = "humidityAlertYNCheckBox", @onclick = "enableDisableHumidityEmailAlert()" })</h2>
                        </dd1>
                    </th>
                </tr>

                <tr id="humidityMinMaxAlertValueSettings">
                    <th>
                        <h1 class="w3-large">@Html.DisplayNameFor(model => model.CriticalHumidityAlertMinValue)</h1>
                    </th>
                    <th>
                        <dd1>
                            <h2 class="w3-large">@Html.TextBoxFor(model => model.CriticalHumidityAlertMinValue, new { id = "humidityAlertMinValueTextBox" })</h2>
                        </dd1>
                    </th>
                    <th>
                        <label><span> < Humidity < </span></label>
                    </th>
                    <th>
                        <h2 class="w3-large">@Html.TextBoxFor(model => model.CriticalHumidityAlertMaxValue, new { id = "humidityAlertMaxValueTextBox" })</h2>
                    </th>
                </tr>

                <tr id="humidityAlertIntervalSettings">
                    <th>
                        <h1 class="w3-large">@Html.DisplayNameFor(model => model.SendHumidityEmailAlertInterval)</h1>
                    </th>

                    <th>
                        <dd1>
                            <h2 class="w3-large">@Html.TextBoxFor(model => model.SendHumidityEmailAlertInterval, new { id = "sendHumidityEmailAlertIntervalTextBox" })</h2>
                        </dd1>
                    </th>

                    <th>
                        <div class="w3-container">
                            <h2 class="w3-large">
                                @Html.DropDownListFor(model => model.SendHumidityEmailAlertIntervalUnitMeasure, new SelectList(new List<Object>
                                                                                                                                                    {
                                                                                                                                                    new { value = 1 , text = "MINUTE"  },
                                                                                                                                                    new { value = 2 , text = "HOUR" },
                                                                                                                                                    new { value = 3 , text = "DAY"}
                                                                                                                                                    },
"value",
"text",
@Model.SendHumidityEmailAlertIntervalUnitMeasure), new { id = "sendHumidityEmailAlertIntervalUnitMeasureDropDownList" })
                            </h2>
                        </div>
                    </th>
                </tr>

                <tr>
                    <th>
                        <h1 class="w3-large">@Html.DisplayNameFor(model => model.DeleteTemperatureHumidityHistoricalDataOlderThan)</h1>
                    </th>

                    <th>
                        <dd1>
                            <h2 class="w3-large">@Html.TextBoxFor(model => model.DeleteTemperatureHumidityHistoricalDataOlderThan, new { id = "deleteTemperatureHumidityOlderThanTextBox" })</h2>
                        </dd1>
                    </th>

                    <th>
                        <div class="w3-container">
                            <h2 class="w3-large">
                                @Html.DropDownListFor(model => model.DeleteTemperatureHumidityHistoricalDataOlderThanUnitMeasure, new SelectList(new List<Object>
                                                                                                                                            {
                                                                                                                                            new { value = 1 , text = "MINUTE"  },
                                                                                                                                            new { value = 2 , text = "HOUR" },
                                                                                                                                            new { value = 3 , text = "DAY"},
                                                                                                                                            new { value = 4 , text = "MONTH"}
                                                                                                                                            },
                    "value",
                    "text",
                    @Model.DeleteTemperatureHumidityHistoricalDataOlderThanUnitMeasure), new { id = "deleteTemperatureHumidityOlderThanUnitMeasureDropDownList" })
                            </h2>
                        </div>
                    </th>
                </tr>

            </table>
        </div>

        <div class="w3-container divblue">
            <table>
                <tr>
                    <th>
                        <h1 class="w3-large">@Html.DisplayNameFor(model => model.MotionDetectionOn)</h1>
                    </th>

                    <th>
                        <dd2>
                            <h2>
                                <button type="buttonMotionDetectionOnOff" class="buttonMotionDetectionOnOff buttonMotionDetectionOnOff3" id="buttonMotionDetectionOn" onclick="turnOnMotionDetection()">ON</button>
                                <button type="buttonMotionDetectionOnOff" class="buttonMotionDetectionOnOff buttonMotionDetectionOnOff3" id="buttonMotionDetectionOff" onclick="turnOffMotionDetection()">OFF</button>
                            </h2>
                        </dd2>
                    </th>
                </tr>
                <tr id="motionDetectionEmailAlertYN">
                    <th>
                        <h1 class="w3-large">@Html.DisplayNameFor(model => model.MotionDetectionAlertYN)</h1>
                    </th>

                    <th>
                        <dd2>
                            <h2 class="w3-large">@Html.CheckBoxFor(model => model.MotionDetectionAlertYN, new { id = "motionDetectionAlertYNCheckBox", @onclick = "enableDisableMotionDetectionEmailAlertInterval()" })</h2>
                        </dd2>
                    </th>
                </tr>

                <tr id="motionDetectionAlertIntervalSettings">
                    <th>
                        <h1 class="w3-large">@Html.DisplayNameFor(model => model.SendMotionDetectionEmailAlertInterval)</h1>
                    </th>

                    <th>
                        <dd2>
                            <h2 class="w3-large">@Html.TextBoxFor(model => model.SendMotionDetectionEmailAlertInterval, new { id = "sendMotionDetectionEmailAlertIntervalTextBox" })</h2>
                        </dd2>
                    </th>

                    <th>
                        <div class="w3-container">
                            <h2 class="w3-large">
                                @Html.DropDownListFor(model => model.SendMotionDetectionEmailAlertIntervalUnitMeasure, new SelectList(new List<Object>
                                                                                                                                    {
                                                                                                                                    new { value = 1 , text = "MINUTE"  },
                                                                                                                                    new { value = 2 , text = "HOUR" },
                                                                                                                                    new { value = 3 , text = "DAY"}
                                                                                                                                    },
                           "value",
                           "text",
                           @Model.SendMotionDetectionEmailAlertIntervalUnitMeasure), new { id = "sendMotionDetectionEmailAlertIntervalUnitMeasureDropDownList" })
                            </h2>
                        </div>
                    </th>
                </tr>

                <tr>
                    <th>
                        <h1 class="w3-large">@Html.DisplayNameFor(model => model.DeleteMotionDetectionHistoricalDataOlderThan)</h1>
                    </th>

                    <th>
                        <dd2>
                            <h2 class="w3-large">@Html.TextBoxFor(model => model.DeleteMotionDetectionHistoricalDataOlderThan, new { id = "deleteMotionDetectionOlderThanTextBox" })</h2>
                        </dd2>
                    </th>

                    <th>
                        <div class="w3-container">
                            <h2 class="w3-large">
                                @Html.DropDownListFor(model => model.DeleteMotionDetectionHistoricalDataOlderThanUnitMeasure, new SelectList(new List<Object>
                                                                                                                                    {
                                                                                                                                    new { value = 1 , text = "MINUTE"  },
                                                                                                                                    new { value = 2 , text = "HOUR" },
                                                                                                                                    new { value = 3 , text = "DAY"},
                                                                                                                                    new { value = 4 , text = "MONTH"}
                                                                                                                                    },
                           "value",
                           "text",
                           @Model.DeleteMotionDetectionHistoricalDataOlderThanUnitMeasure), new { id = "deleteMotionDetectionOlderThanUnitMeasureDropDownList" })
                            </h2>
                        </div>
                    </th>
                </tr>
            </table>
        </div>

        <div class="w3-container divgreen">
            <table>
                <tr>
                    <th>
                        <h1 class="w3-large">@Html.DisplayNameFor(model => model.SoundDetectionOn)</h1>
                    </th>

                    <th>
                        <dd3>
                            <h2>
                                <button type="buttonSoundDetectionOnOff" class="buttonSoundDetectionOnOff buttonSoundDetectionOnOff3" id="buttonSoundDetectionOn" onclick="turnOnSoundDetection()">ON</button>
                                <button type="buttonSoundDetectionOnOff" class="buttonSoundDetectionOnOff buttonSoundDetectionOnOff3" id="buttonSoundDetectionOff" onclick="turnOffSoundDetection()">OFF</button>
                            </h2>
                        </dd3>
                    </th>
                </tr>
                <tr id="soundDetectionEmailAlertYN">
                    <th>
                        <h1 class="w3-large">@Html.DisplayNameFor(model => model.SoundDetectionAlertYN)</h1>
                    </th>

                    <th>
                        <dd3>
                            <h2 class="w3-large">@Html.CheckBoxFor(model => model.SoundDetectionAlertYN, new { id = "soundDetectionAlertYNCheckBox", @onclick = "enableDisableSoundDetectionEmailAlertInterval()" })</h2>
                        </dd3>
                    </th>
                </tr>

                <tr id="soundDetectionAlertIntervalSettings">
                    <th>
                        <h1 class="w3-large">@Html.DisplayNameFor(model => model.SendSoundDetectionEmailAlertInterval)</h1>
                    </th>

                    <th>
                        <dd3>
                            <h2 class="w3-large">@Html.TextBoxFor(model => model.SendSoundDetectionEmailAlertInterval, new { id = "sendSoundDetectionEmailAlertIntervalTextBox" })</h2>
                        </dd3>
                    </th>

                    <th>
                        <div class="w3-container">
                            <h2 class="w3-large">
                                @Html.DropDownListFor(model => model.SendSoundDetectionEmailAlertIntervalUnitMeasure, new SelectList(new List<Object>
                                                                                                                                            {
                                                                                                                                            new { value = 1 , text = "MINUTE"  },
                                                                                                                                            new { value = 2 , text = "HOUR" },
                                                                                                                                            new { value = 3 , text = "DAY"}
                                                                                                                                            },
                    "value",
                    "text",
                    @Model.SendSoundDetectionEmailAlertIntervalUnitMeasure), new { id = "sendSoundDetectionEmailAlertIntervalUnitMeasureDropDownList" })
                            </h2>
                        </div>
                    </th>
                </tr>

                <tr>
                    <th>
                        <h1 class="w3-large">@Html.DisplayNameFor(model => model.DeleteSoundDetectionHistoricalDataOlderThan)</h1>
                    </th>

                    <th>
                        <dd3>
                            <h2 class="w3-large">@Html.TextBoxFor(model => model.DeleteSoundDetectionHistoricalDataOlderThan, new { id = "deleteSoundDetectionOlderThanTextBox" })</h2>
                        </dd3>
                    </th>

                    <th>
                        <div class="w3-container">
                            <h2 class="w3-large">
                                @Html.DropDownListFor(model => model.DeleteSoundDetectionHistoricalDataOlderThanUnitMeasure, new SelectList(new List<Object>
                                                                                                                                    {
                                                                                                                                    new { value = 1 , text = "MINUTE"  },
                                                                                                                                    new { value = 2 , text = "HOUR" },
                                                                                                                                    new { value = 3 , text = "DAY"},
                                                                                                                                    new { value = 4 , text = "MONTH"}
                                                                                                                                    },
                           "value",
                           "text",
                           @Model.DeleteSoundDetectionHistoricalDataOlderThanUnitMeasure), new { id = "deleteSoundDetectionOlderThanUnitMeasureDropDownList" })
                            </h2>
                        </div>
                    </th>
                </tr>
            </table>
        </div>

        <div class="w3-container divyellow">
            <table>
                <tr>
                    <th>
                        <h1 class="w3-large">@Html.DisplayNameFor(model => model.GasDetectionOn)</h1>
                    </th>

                    <th>
                        <dd4>
                            <h2>
                                <button type="buttonGasDetectionOnOff" class="buttonGasDetectionOnOff buttonGasDetectionOnOff3" id="buttonGasDetectionOn" onclick="turnOnGasDetection()">ON</button>
                                <button type="buttonGasDetectionOnOff" class="buttonGasDetectionOnOff buttonGasDetectionOnOff3" id="buttonGasDetectionOff" onclick="turnOffGasDetection()">OFF</button>
                            </h2>
                        </dd4>
                    </th>
                </tr>

                <tr id="gasDetectionEmailAlertYN">
                    <th>
                        <h1 class="w3-large">@Html.DisplayNameFor(model => model.GasDetectionAlertYN)</h1>
                    </th>

                    <th>
                        <dd4>
                            <h2 class="w3-large">@Html.CheckBoxFor(model => model.GasDetectionAlertYN, new { id = "gasDetectionAlertYNCheckBox", @onclick = "enableDisableGasDetectionEmailAlertInterval()" })</h2>
                        </dd4>
                    </th>
                </tr>

                <tr id="gasDetectionAlertIntervalSettings">
                    <th>
                        <h1 class="w3-large">@Html.DisplayNameFor(model => model.SendGasDetectionEmailAlertInterval)</h1>
                    </th>

                    <th>
                        <dd4>
                            <h2 class="w3-large">@Html.TextBoxFor(model => model.SendGasDetectionEmailAlertInterval, new { id = "sendGasDetectionEmailAlertIntervalTextBox" })</h2>
                        </dd4>
                    </th>

                    <th>
                        <div class="w3-container">
                            <h2 class="w3-large">
                                @Html.DropDownListFor(model => model.SendGasDetectionEmailAlertIntervalUnitMeasure, new SelectList(new List<Object>
                                                                                                                                                    {
                                                                                                                                                    new { value = 1 , text = "MINUTE"  },
                                                                                                                                                    new { value = 2 , text = "HOUR" },
                                                                                                                                                    new { value = 3 , text = "DAY"}
                                                                                                                                                    },
"value",
"text",
@Model.SendGasDetectionEmailAlertIntervalUnitMeasure), new { id = "sendGasDetectionEmailAlertIntervalUnitMeasureDropDownList" })
                            </h2>
                        </div>
                    </th>
                </tr>

                <tr>
                    <th>
                        <h1 class="w3-large">@Html.DisplayNameFor(model => model.DeleteGasDetectionHistoricalDataOlderThan)</h1>
                    </th>

                    <th>
                        <dd4>
                            <h2 class="w3-large">@Html.TextBoxFor(model => model.DeleteGasDetectionHistoricalDataOlderThan, new { id = "deleteGasOlderThanTextBox" })</h2>
                        </dd4>
                    </th>

                    <th>
                        <div class="w3-container">
                            <h2 class="w3-large">
                                @Html.DropDownListFor(model => model.DeleteGasDetectionHistoricalDataOlderThanUnitMeasure, new SelectList(new List<Object>
                                                                                                                                    {
                                                                                                                                    new { value = 1 , text = "MINUTE"  },
                                                                                                                                    new { value = 2 , text = "HOUR" },
                                                                                                                                    new { value = 3 , text = "DAY"},
                                                                                                                                    new { value = 4 , text = "MONTH"}
                                                                                                                                    },
                           "value",
                           "text",
                           @Model.DeleteGasDetectionHistoricalDataOlderThanUnitMeasure), new { id = "deleteGasOlderThanUnitMeasureDropDownList" })
                            </h2>
                        </div>
                    </th>
                </tr>
            </table>
        </div>

        <div class="w3-container divgray">
            <table>
                <tr>
                    <th>
                        <h1 class="w3-large">@Html.DisplayNameFor(model => model.InternalTime)</h1>
                    </th>

                    <th>
                        <dd5>
                            <h2 class="w3-large">@Html.TextBoxFor(model => model.InternalTime, new { style = "width:210px", @readonly = "readonly" })</h2>
                        </dd5>
                    </th>
                </tr>
            </table>

            <table>
                <tr>
                    <th>
                        <h1 class="w3-large">@Html.DisplayNameFor(model => model.AlertsToEmail)</h1>
                    </th>

                    <th>
                        <dd6>
                            <h2 class="w3-large">@Html.TextBoxFor(model => model.AlertsToEmail, new { id = "alertsToEmail", style = "width:270px" })</h2>
                        </dd6>
                    </th>
                </tr>
            </table>
        </div>

        <button type="button" class="button button3" id="saveSettingsButton" onclick="saveSettings()">Save settings</button>

        <!-- Popup for success -->
        <div id="popup" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <h2>Success!</h2>
                </div>
                <div class="modal-body">
                    <p>Settings were successfully saved!</p>
                </div>
                <div class="modal-footer">
                    <h3></h3>
                </div>
            </div>

        </div>

        <!-- Popup for validation -->
        <div id="popupValidation" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <h2>Error!</h2>
                </div>
                <div id="validationBody" class="modal-body">
                </div>
                <div class="modal-footer">
                    <h3></h3>
                </div>
            </div>

        </div>

        <!-- Popup for waiting -->
        <div id="popupWaiting" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <h2>Waiting</h2>
                </div>
                <div class="modal-body">
                    <p>Waiting to save changes</p>
                </div>
                <div class="modal-footer">
                    <h3></h3>
                </div>
            </div>

        </div>
    </dl>
</div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
@*<script type="text/javascript" charset="utf8" src="/js/jquery.dataTables.js"></script>*@

<script type="text/javascript">

    var span = document.getElementsByClassName("close")[0];
    var modal = document.getElementById('popup');
    var modalValidation = document.getElementById('popupValidation');
    var modalWaiting = document.getElementById('popupWaiting');

    function saveSettings() {

        var validationMessage = '<p>';
        var validationError = false;

        if ($('#buttonTemperatureHumidityOn').hasClass('active')) {

            if ($('#temperatureAlertYNCheckBox').is(':checked')) {
                if ($('#temperatureAlertMaxValueTextBox').val() == '' && $('#temperatureAlertMinValueTextBox').val() == '') {
                    validationMessage += '<p>Critical temperature is mandatory</p>';
                    validationError = true;
                }

                if ($('#sendTemperatureEmailAlertIntervalTextBox').val() == '') {
                    validationMessage += '<p>Temperature email alert interval is mandatory</p>';
                    validationError = true;
                }

                if ($('#sendTemperatureEmailAlertIntervalTextBox').val() == '0') {
                    validationMessage += '<p>Critical temperature email alert interval should be greater than 0</p>';
                    validationError = true;
                }

            }

            if ($('#humidityAlertYNCheckBox').is(':checked')) {
                if ($('#humidityAlertMaxValueTextBox').val() == '' && $('#humidityAlertMinValueTextBox').val() == '') {
                    validationMessage += '<p>Critical humidity is mandatory</p>';
                    validationError = true;
                }

                if ($('#sendHumidityEmailAlertIntervalTextBox').val() == '') {
                    validationMessage += '<p>Humidity email alert interval is mandatory</p>';
                    validationError = true;
                }

                if ($('#sendHumidityEmailAlertIntervalTextBox').val() == '0') {
                    validationMessage += '<p>Critical humidity email alert interval should be greater than 0</p>';
                    validationError = true;
                }
            }
        }

        if ($('#buttonMotionDetectionOn').hasClass('active')) {

            if ($('#motionDetectionAlertYNCheckBox').is(':checked')) {
                if ($('#sendMotionDetectionEmailAlertIntervalTextBox').val() == '') {
                    validationMessage += '<p>Motion detection email alert interval is mandatory</p>';
                    validationError = true;
                }

                if ($('#sendMotionDetectionEmailAlertIntervalTextBox').val() == '0') {
                    validationMessage += '<p>Motion detection email alert interval should be greater than 0</p>';
                    validationError = true;
                }
            }
        }

        if ($('#buttonSoundDetectionOn').hasClass('active')) {

            if ($('#soundDetectionAlertYNCheckBox').is(':checked')) {
                if ($('#sendSoundDetectionEmailAlertIntervalTextBox').val() == '') {
                    validationMessage += '<p>Sound detection email alert interval is mandatory</p>';
                    validationError = true;
                }

                if ($('#sendSoundDetectionEmailAlertIntervalTextBox').val() == '0') {
                    validationMessage += '<p>Sound detection email alert interval should be greater than 0</p>';
                    validationError = true;
                }
            }
        }

        if ($('#buttonGasDetectionOn').hasClass('active')) {

            if ($('#gasDetectionAlertYNCheckBox').is(':checked')) {
                if ($('#sendGasDetectionEmailAlertIntervalTextBox').val() == '') {
                    validationMessage += '<p>Gas detection email alert interval is mandatory</p>';
                    validationError = true;
                }

                if ($('#sendGasDetectionEmailAlertIntervalTextBox').val() == '0') {
                    validationMessage += '<p>Gas detection email alert interval should be greater than 0</p>';
                    validationError = true;
                }
            }
        }

        validationMessage += '</p>';

        if (validationError) {
            $("#validationBody").empty();
            $("#validationBody").append(validationMessage);
            modalValidation.style.display = "block";
            return;
        }
        else {
            modalWaiting.style.display = "block";
        }

        if ($('#temperatureAlertYNCheckBox').is(':checked')) {
            if ($('#temperatureAlertMinValueTextBox').val() == ''){
                $('#temperatureAlertMinValueTextBox').val(-123456);
            }

            if ($('#temperatureAlertMaxValueTextBox').val() == '') {
                $('#temperatureAlertMaxValueTextBox').val(123456);
            }
        }
        else {
            $('#temperatureAlertMinValueTextBox').val(-123456);
            $('#temperatureAlertMaxValueTextBox').val(123456);
            $('#sendTemperatureEmailAlertIntervalUnitMeasureDropDownList').val('');
            $('#sendTemperatureEmailAlertIntervalTextBox').val('');
        }

        if ($('#humidityAlertYNCheckBox').is(':checked')) {
            if ($('#humidityAlertMinValueTextBox').val() == '') {
                $('#humidityAlertMinValueTextBox').val(-123456);
            }

            if ($('#humidityAlertMaxValueTextBox').val() == '') {
                $('#humidityAlertMaxValueTextBox').val(123456);
            }
        }
        else {
            $('#humidityAlertMinValueTextBox').val(-123456);
            $('#humidityAlertMaxValueTextBox').val(123456);
            $('#sendHumidityEmailAlertIntervalTextBox').val('');
            $('#sendHumidityEmailAlertIntervalUnitMeasureDropDownList').val('');
        }

        if (!$('#motionDetectionAlertYNCheckBox').is(':checked'))
            $('#sendMotionDetectionEmailAlertIntervalTextBox').val('');

        if (!$('#soundDetectionAlertYNCheckBox').is(':checked'))
            $('#sendSoundDetectionEmailAlertIntervalTextBox').val('');


        var settings = {

            "TemperatureHumidityOn": $('#buttonTemperatureHumidityOn').hasClass('active'),
            "CriticalTemperatureAlertYN": $('#temperatureAlertYNCheckBox').is(':checked'),
            "CriticalTemperatureAlertMinValue": $('#temperatureAlertMinValueTextBox').val(),
            "CriticalTemperatureAlertMaxValue": $('#temperatureAlertMaxValueTextBox').val(),
            "SendTemperatureEmailAlertInterval": $('#sendTemperatureEmailAlertIntervalTextBox').val(),
            "SendTemperatureEmailAlertIntervalUnitMeasure": $('#sendTemperatureEmailAlertIntervalUnitMeasureDropDownList').val(),
            "CriticalHumidityAlertYN": $('#humidityAlertYNCheckBox').is(':checked'),
            "CriticalHumidityAlertMinValue": $('#humidityAlertMinValueTextBox').val(),
            "CriticalHumidityAlertMaxValue": $('#humidityAlertMaxValueTextBox').val(),
            "SendHumidityEmailAlertInterval": $('#sendHumidityEmailAlertIntervalTextBox').val(),
            "SendHumidityEmailAlertIntervalUnitMeasure": $('#sendHumidityEmailAlertIntervalUnitMeasureDropDownList').val(),
            "DeleteTemperatureHumidityHistoricalDataOlderThan": $('#deleteTemperatureHumidityOlderThanTextBox').val(),
            "DeleteTemperatureHumidityHistoricalDataOlderThanUnitMeasure": $('#deleteTemperatureHumidityOlderThanUnitMeasureDropDownList').val(),
            "MotionDetectionOn": $('#buttonMotionDetectionOn').hasClass('active'),
            "MotionDetectionAlertYN": $('#motionDetectionAlertYNCheckBox').is(':checked'),
            "SendMotionDetectionEmailAlertInterval": $('#sendMotionDetectionEmailAlertIntervalTextBox').val(),
            "SendMotionDetectionEmailAlertIntervalUnitMeasure": $('#sendMotionDetectionEmailAlertIntervalUnitMeasureDropDownList').val(),
            "SoundDetectionOn": $('#buttonSoundDetectionOn').hasClass('active'),
            "SoundDetectionAlertYN": $('#soundDetectionAlertYNCheckBox').is(':checked'),
            "SendSoundDetectionEmailAlertInterval": $('#sendSoundDetectionEmailAlertIntervalTextBox').val(),
            "SendSoundDetectionEmailAlertIntervalUnitMeasure": $('#sendSoundDetectionEmailAlertIntervalUnitMeasureDropDownList').val(),
            "GasDetectionOn": $('#buttonGasDetectionOn').hasClass('active'),
            "GasDetectionAlertYN": $('#gasDetectionAlertYNCheckBox').is(':checked'),
            "AlertsToEmail": $('#alertsToEmail').val(),
            "DeleteMotionDetectionHistoricalDataOlderThan": $('#deleteMotionDetectionOlderThanTextBox').val(),
            "DeleteMotionDetectionHistoricalDataOlderThanUnitMeasure": $('#deleteMotionDetectionOlderThanUnitMeasureDropDownList').val(),
            "DeleteSoundDetectionHistoricalDataOlderThan": $('#deleteSoundDetectionOlderThanTextBox').val(),
            "DeleteSoundDetectionHistoricalDataOlderThanUnitMeasure": $('#deleteSoundDetectionOlderThanUnitMeasureDropDownList').val(),
            "SendGasDetectionEmailAlertInterval": $('#sendGasDetectionEmailAlertIntervalTextBox').val(),
            "SendGasDetectionEmailAlertIntervalUnitMeasure": $('#sendGasDetectionEmailAlertIntervalUnitMeasureDropDownList').val(),
            "DeleteGasDetectionHistoricalDataOlderThan": $('#deleteGasDetectionOlderThanTextBox').val(),
            "DeleteGasDetectionHistoricalDataOlderThanUnitMeasure": $('#deleteGasDetectionOlderThanUnitMeasureDropDownList').val()
        };

        if ($('#temperatureAlertMinValueTextBox').val() == -123456)
            $('#temperatureAlertMinValueTextBox').val('');

        if ($('#temperatureAlertMaxValueTextBox').val() == 123456)
            $('#temperatureAlertMaxValueTextBox').val('');

        if ($('#humidityAlertMinValueTextBox').val() == -123456)
            $('#humidityAlertMinValueTextBox').val('');

        if ($('#humidityAlertMaxValueTextBox').val() == 123456)
            $('#humidityAlertMaxValueTextBox').val('');

        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveSettings", "Home")',
            data: settings,
            dataType: "json",
            success: function (response) {
                modalWaiting.style.display = "none";
                modal.style.display = "block";
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + " " + errorThrown);
            }
        });
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modalValidation) {
            modalValidation.style.display = "none";
        }

        if (event.target == modal) {
            modal.style.display = "none";
            modalValidation.style.display = "none";
        }
    }

    $(window).bind("load", function () {

        var settings = @Html.Raw(Json.Encode(Model));

        if (settings.TemperatureHumidityOn == true) {
            $('#buttonTemperatureHumidityOn').addClass('active')
            $('#buttonTemperatureHumidityOff').removeClass('active')

            $('#temperatureEmailAlertYN').show();

            if (settings.CriticalTemperatureAlertYN) {
                $('#temperatureMinMaxAlertValueSettings').show();
                $('#temperatureAlertIntervalSettings').show();
            }
            else {
                $('#temperatureMinMaxAlertValueSettings').hide();
                $('#temperatureAlertIntervalSettings').hide();
            }

            $('#humidityEmailAlertYN').show();

            if (settings.CriticalHumidityAlertYN) {
                $('#humidityMinMaxAlertValueSettings').show();
                $('#humidityAlertIntervalSettings').show();
            }
            else {
                $('#humidityMinMaxAlertValueSettings').hide();
                $('#humidityAlertIntervalSettings').hide();
            }
        }
        else {
            $('#buttonTemperatureHumidityOff').addClass('active');
            $('#buttonTemperatureHumidityOn').removeClass('active');

            $('#temperatureEmailAlertYN').hide();
            $('#humidityEmailAlertYN').hide();

            $('#temperatureMinMaxAlertValueSettings').hide();
            $('#temperatureAlertIntervalSettings').hide();

            $('#humidityMinMaxAlertValueSettings').hide();
            $('#humidityAlertIntervalSettings').hide();
        }

        if (settings.MotionDetectionOn == true) {
            $('#buttonMotionDetectionOn').addClass('active');
            $('#buttonMotionDetectionOff').removeClass('active');

            $('#motionDetectionEmailAlertYN').show();

            if (settings.MotionDetectionAlertYN) {
                $('#motionDetectionAlertIntervalSettings').show();
            }
            else {
                $('#motionDetectionAlertIntervalSettings').hide();
            }
        }
        else {
            $('#buttonMotionDetectionOff').addClass('active');
            $('#buttonMotionDetectionOn').removeClass('active');

            $('#motionDetectionEmailAlertYN').hide();
            $('#motionDetectionAlertIntervalSettings').hide();
        }

        if (settings.SoundDetectionOn == true) {
            $('#buttonSoundDetectionOn').addClass('active');
            $('#buttonSoundDetectionOff').removeClass('active');

            $('#soundDetectionEmailAlertYN').show();

            if (settings.SoundDetectionAlertYN) {
                $('#soundDetectionAlertIntervalSettings').show();
            }
            else {
                $('#soundDetectionAlertIntervalSettings').hide();
            }
        }
        else {
            $('#buttonSoundDetectionOff').addClass('active');
            $('#buttonSoundDetectionOn').removeClass('active');

            $('#soundDetectionEmailAlertYN').hide();

            $('#soundDetectionAlertIntervalSettings').hide();
        }

        if (settings.GasDetectionOn == true) {
            $('#buttonGasDetectionOn').addClass('active');
            $('#buttonGasDetectionOff').removeClass('active');

            $('#gasDetectionEmailAlertYN').show();

            if (settings.GasDetectionAlertYN) {
                $('#gasDetectionAlertIntervalSettings').show();
            }
            else {
                $('#gasDetectionAlertIntervalSettings').hide();
            }
        }
        else {
            $('#buttonGasDetectionOff').addClass('active');
            $('#buttonGasDetectionOn').removeClass('active');

            $('#gasDetectionEmailAlertYN').hide();

            $('#gasDetectionAlertIntervalSettings').hide();
        }

        if (settings.CriticalTemperatureAlertMinValue == -123456)
            $('#temperatureAlertMinValueTextBox').val('');

        if (settings.CriticalTemperatureAlertMaxValue == 123456)
            $('#temperatureAlertMaxValueTextBox').val('');

        if (settings.CriticalHumidityAlertMinValue == -123456)
            $('#humidityAlertMinValueTextBox').val('');

        if (settings.CriticalHumidityAlertMaxValue == 123456)
            $('#humidityAlertMaxValueTextBox').val('');
    });

    function enableDisableMotionDetectionEmailAlertInterval() {

        if ($('#motionDetectionAlertYNCheckBox').is(':checked')) {
            $('#motionDetectionAlertIntervalSettings').show();
        }
        else {
            $('#motionDetectionAlertIntervalSettings').hide();
        }
    }

    function enableDisableSoundDetectionEmailAlertInterval() {

        if ($('#soundDetectionAlertYNCheckBox').is(':checked')) {
            $('#soundDetectionAlertIntervalSettings').show();
        }
        else {
            $('#soundDetectionAlertIntervalSettings').hide();
        }
    }

    function enableDisableGasDetectionEmailAlertInterval() {

        if ($('#gasDetectionAlertYNCheckBox').is(':checked')) {
            $('#gasDetectionAlertIntervalSettings').show();
        }
        else {
            $('#gasDetectionAlertIntervalSettings').hide();
        }
    }

    function enableDisableTemperatureEmailAlert() {

        if ($('#temperatureAlertYNCheckBox').is(':checked')) {
            $('#temperatureMinMaxAlertValueSettings').show();
            $('#temperatureAlertIntervalSettings').show();
        }
        else {
            $('#temperatureMinMaxAlertValueSettings').hide();
            $('#temperatureAlertIntervalSettings').hide();
        }
    }

    function enableDisableHumidityEmailAlert() {

        if ($('#humidityAlertYNCheckBox').is(':checked')) {
            $('#humidityMinMaxAlertValueSettings').show();
            $('#humidityAlertIntervalSettings').show();
        }
        else {
            $('#humidityMinMaxAlertValueSettings').hide();
            $('#humidityAlertIntervalSettings').hide();
        }
    }

    function turnOnTemperatureHumidity() {

        if (!$('#buttonTemperatureHumidityOn').hasClass('active')) {
            $('#buttonTemperatureHumidityOn').addClass('active')
            $('#buttonTemperatureHumidityOff').removeClass('active')

            $('#temperatureEmailAlertYN').show();
            if ($('#temperatureAlertYNCheckBox').is(':checked')) {
                $('#temperatureMinMaxAlertValueSettings').show();
                $('#temperatureAlertIntervalSettings').show();
            }
            else {
                $('#temperatureMinMaxAlertValueSettings').hide();
                $('#temperatureAlertIntervalSettings').hide();
            }

            $('#humidityEmailAlertYN').show();
            if ($('#humidityAlertYNCheckBox').is(':checked')) {
                $('#humidityMinMaxAlertValueSettings').show();
                $('#humidityAlertIntervalSettings').show();
            }
            else {
                $('#humidityMinMaxAlertValueSettings').hide();
                $('#humidityAlertIntervalSettings').hide();
            }
        }
    }

    function turnOffTemperatureHumidity() {

        if (!$('#buttonTemperatureHumidityOff').hasClass('active')) {
            $('#buttonTemperatureHumidityOff').addClass('active')
            $('#buttonTemperatureHumidityOn').removeClass('active')

            $('#temperatureEmailAlertYN').hide();
            $('#temperatureMinMaxAlertValueSettings').hide();
            $('#temperatureAlertIntervalSettings').hide();
            $('#humidityEmailAlertYN').hide();
            $('#humidityMinMaxAlertValueSettings').hide();
            $('#humidityAlertIntervalSettings').hide();
        }
    }

    function turnOnMotionDetection() {

        if (!$('#buttonMotionDetectionOn').hasClass('active')) {
            $('#buttonMotionDetectionOn').addClass('active')
            $('#buttonMotionDetectionOff').removeClass('active')

            $('#motionDetectionEmailAlertYN').show();
            $('#motionDetectionAlertIntervalSettings').show();
        }
    }

    function turnOffMotionDetection() {

        if (!$('#buttonMotionDetectionOff').hasClass('active')) {
            $('#buttonMotionDetectionOff').addClass('active')
            $('#buttonMotionDetectionOn').removeClass('active')

            $('#motionDetectionEmailAlertYN').hide();
            $('#motionDetectionAlertIntervalSettings').hide();
        }
    }

    function turnOnSoundDetection() {

        if (!$('#buttonSoundDetectionOn').hasClass('active')) {
            $('#buttonSoundDetectionOn').addClass('active')
            $('#buttonSoundDetectionOff').removeClass('active')

            $('#soundDetectionEmailAlertYN').show();
            $('#soundDetectionAlertIntervalSettings').show();
        }
    }

    function turnOffSoundDetection() {

        if (!$('#buttonSoundDetectionOff').hasClass('active')) {
            $('#buttonSoundDetectionOff').addClass('active')
            $('#buttonSoundDetectionOn').removeClass('active')

            $('#soundDetectionEmailAlertYN').hide();
            $('#soundDetectionAlertIntervalSettings').hide();
        }
    }


    function turnOnGasDetection() {

        if (!$('#buttonGasDetectionOn').hasClass('active')) {
            $('#buttonGasDetectionOn').addClass('active')
            $('#buttonGasDetectionOff').removeClass('active')

            $('#gasDetectionEmailAlertYN').show();
            $('#gasDetectionAlertIntervalSettings').show();
        }
    }

    function turnOffGasDetection() {

        if (!$('#buttonGasDetectionOff').hasClass('active')) {
            $('#buttonGasDetectionOff').addClass('active')
            $('#buttonGasDetectionOn').removeClass('active')

            $('#gasDetectionEmailAlertYN').hide();
            $('#gasDetectionAlertIntervalSettings').hide();
        }
    }

</script>
