@model SmartHouse.Models.Settings

@{
    ViewBag.Title = "Setting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button3 {
background-color: white;
color: black;
border: 2px solid #A1A1A1;
}

.button3:hover {
    background-color: #A1A1A1;
    color: white;
}

.divred {
    background-color: white;
}

.divred:hover {
    background-color: #ff9191;
}

.divblue {
background-color: white;
}

.divblue:hover {
    background-color: #64b1f4;
}

.divgreen {
background-color: white;
}

.divgreen:hover {
    background-color: #4ba394;
}

.divyellow {
background-color: white;
}

.divyellow:hover {
    background-color: #f9b975;
}
.divgray {
    background-color: white;
}

.divgray:hover {
    background-color: #bababa;
}

</style>

<div class="w3-row-padding w3-margin-bottom">
    <hr />
    <dl class="dl-horizontal">

        <div class="w3-container divred">
            <table>
                <tr>
                    <th>
                        <h1 class="w3-large">@Html.DisplayNameFor(model => model.CriticalTemperatureAlertYN)</h1>
                    </th>

                    <th>
                        <dd1>
                            <h2 class="w3-large">@Html.CheckBoxFor(model => model.CriticalTemperatureAlertYN, new { id = "temperatureAlertYNCheckBox", @onclick = "enableDisableTemperatureAlert()" })</h2>
                        </dd1>
                    </th>
                </tr>

                <tr>
                    <th>
                        <h1 class="w3-large">@Html.DisplayNameFor(model => model.CriticalTemperatureAlertValue)</h1>
                    </th>

                    <th>
                        <dd1>
                            <h2 class="w3-large">@Html.TextBoxFor(model => model.CriticalTemperatureAlertValue, new { id = "temperatureAlertValueTextBox" })</h2>
                        </dd1>
                    </th>
                </tr>

                <tr>
                    <th>
                        <h1 class="w3-large">@Html.DisplayNameFor(model => model.CriticalHumidityAlertYN)</h1>
                    </th>

                    <th>
                        <dd1>
                            <h2 class="w3-large">@Html.CheckBoxFor(model => model.CriticalHumidityAlertYN, new { id = "humidityAlertYNCheckBox", @onclick = "enableDisableHumidityAlert()" })</h2>
                        </dd1>
                    </th>
                </tr>

                <tr>
                    <th>
                        <h1 class="w3-large">@Html.DisplayNameFor(model => model.CriticalHumidityAlertValue)</h1>
                    </th>

                    <th>
                        <dd1>
                            <h2 class="w3-large">@Html.TextBoxFor(model => model.CriticalHumidityAlertValue, new { id = "humidityAlertValueTextBox" })</h2>
                        </dd1>
                    </th>
                </tr>

                <tr>
                    <th>
                        <h1 class="w3-large">@Html.DisplayNameFor(model => model.DeleteTemperatureHumidityHistoricalDataOlderThan)</h1>
                    </th>

                    <th>
                        <dd1>
                            <h2 class="w3-large">@Html.TextBoxFor(model => model.DeleteTemperatureHumidityHistoricalDataOlderThan, new { id = "deleteTemperatureHumidityOlderThanTextBox" })</h2>
                        </dd1>
                    </th>

                    <th>
                        <div class="w3-container">
                            <h2 class="w3-large">
                                @Html.DropDownListFor(model => model.DeleteTemperatureHumidityHistoricalDataOlderThanUnitMeasure, new SelectList(new List<Object>
                                    {
                                    new { value = 1 , text = "MINUTE"  },
                                    new { value = 2 , text = "HOUR" },
                                    new { value = 3 , text = "DAY"},
                                    new { value = 4 , text = "MONTH"}
                                    },
                                    "value",
                                    "text",
                                    @Model.DeleteTemperatureHumidityHistoricalDataOlderThanUnitMeasure), new { id = "deleteTemperatureHumidityOlderThanUnitMeasureDropDownList" })
                            </h2>
                        </div>
                    </th>
                </tr>

            </table>
        </div>

        <div class="w3-container divblue">
            <table>
                <tr>
                    <th>
                        <h1 class="w3-large">@Html.DisplayNameFor(model => model.MotionDetectionAlertYN)</h1>
                    </th>

                    <th>
                        <dd2>
                            <h2 class="w3-large">@Html.CheckBoxFor(model => model.MotionDetectionAlertYN, new { id = "motionDetectionAlertYNCheckBox" })</h2>
                        </dd2>
                    </th>
                </tr>

                <tr>
                    <th>
                        <h1 class="w3-large">@Html.DisplayNameFor(model => model.DeleteMotionDetectionHistoricalDataOlderThan)</h1>
                    </th>

                    <th>
                        <dd2>
                            <h2 class="w3-large">@Html.TextBoxFor(model => model.DeleteMotionDetectionHistoricalDataOlderThan, new { id = "deleteMotionDetectionOlderThanTextBox" })</h2>
                        </dd2>
                    </th>

                    <th>
                        <div class="w3-container">
                            <h2 class="w3-large">
                                @Html.DropDownListFor(model => model.DeleteMotionDetectionHistoricalDataOlderThanUnitMeasure, new SelectList(new List<Object>
                                    {
                                    new { value = 1 , text = "MINUTE"  },
                                    new { value = 2 , text = "HOUR" },
                                    new { value = 3 , text = "DAY"},
                                    new { value = 4 , text = "MONTH"}
                                    },
                                    "value",
                                    "text",
                                    @Model.DeleteMotionDetectionHistoricalDataOlderThanUnitMeasure), new { id = "deleteMotionDetectionOlderThanUnitMeasureDropDownList" })
                            </h2>
                        </div>
                    </th>
                </tr>
            </table>
        </div>

        <div class="w3-container divgreen">
            <table>
                <tr>
                    <th>
                        <h1 class="w3-large">@Html.DisplayNameFor(model => model.SoundDetectionAlertYN)</h1>
                    </th>

                    <th>
                        <dd3>
                            <h2 class="w3-large">@Html.CheckBoxFor(model => model.SoundDetectionAlertYN, new { id = "soundDetectionAlertYNCheckBox" })</h2>
                        </dd3>
                    </th>
                </tr>

                <tr>
                    <th>
                        <h1 class="w3-large">@Html.DisplayNameFor(model => model.DeleteSoundDetectionHistoricalDataOlderThan)</h1>
                    </th>

                    <th>
                        <dd3>
                            <h2 class="w3-large">@Html.TextBoxFor(model => model.DeleteSoundDetectionHistoricalDataOlderThan, new { id = "deleteSoundDetectionOlderThanTextBox" })</h2>
                        </dd3>
                    </th>

                    <th>
                        <div class="w3-container">
                            <h2 class="w3-large">
                                @Html.DropDownListFor(model => model.DeleteSoundDetectionHistoricalDataOlderThanUnitMeasure, new SelectList(new List<Object>
                                    {
                                    new { value = 1 , text = "MINUTE"  },
                                    new { value = 2 , text = "HOUR" },
                                    new { value = 3 , text = "DAY"},
                                    new { value = 4 , text = "MONTH"}
                                    },
                                    "value",
                                    "text",
                                    @Model.DeleteSoundDetectionHistoricalDataOlderThanUnitMeasure), new { id = "deleteSoundDetectionOlderThanUnitMeasureDropDownList" })
                            </h2>
                        </div>
                    </th>
                </tr>
            </table>
        </div>

        <div class="w3-container divyellow">
            <table>
                <tr>
                    <th>
                        <h1 class="w3-large">@Html.DisplayNameFor(model => model.CriticalGasAlertYN)</h1>
                    </th>

                    <th>
                        <dd4>
                            <h2 class="w3-large">@Html.CheckBoxFor(model => model.CriticalGasAlertYN, new { id = "gasDetectionAlertYNCheckBox" })</h2>
                        </dd4>
                    </th>
                </tr>

                <tr>
                    <th>
                        <h1 class="w3-large">@Html.DisplayNameFor(model => model.CriticalGasHistoricalDataOlderThan)</h1>
                    </th>

                    <th>
                        <dd4>
                            <h2 class="w3-large">@Html.TextBoxFor(model => model.CriticalGasHistoricalDataOlderThan, new { id = "deleteGasOlderThanTextBox" })</h2>
                        </dd4>
                    </th>

                    <th>
                        <div class="w3-container">
                            <h2 class="w3-large">
                                @Html.DropDownListFor(model => model.CriticalGasHistoricalDataOlderThanUnitMeasure, new SelectList(new List<Object>
                                    {
                                    new { value = 1 , text = "MINUTE"  },
                                    new { value = 2 , text = "HOUR" },
                                    new { value = 3 , text = "DAY"},
                                    new { value = 4 , text = "MONTH"}
                                    },
                                    "value",
                                    "text",
                                    @Model.CriticalGasHistoricalDataOlderThanUnitMeasure), new { id = "deleteGasOlderThanUnitMeasureDropDownList" })
                            </h2>
                        </div>
                    </th>
                </tr>
            </table>
        </div>

        <div class="w3-container divgray">
            <table>
                <tr>
                    <th>
                        <h1 class="w3-large">@Html.DisplayNameFor(model => model.InternalTime)</h1>
                    </th>

                    <th>
                        <dd5>
                            <h2 class="w3-large">@Html.TextBoxFor(model => model.InternalTime, new { style = "width:210px", @readonly = "readonly" })</h2>
                        </dd5>
                    </th>
                </tr>
            </table>
        </div>

        <div class="w3-container divgray">
            <table>
                <tr>
                    <th>
                        <h1 class="w3-large">@Html.DisplayNameFor(model => model.AlertsToEmail)</h1>
                    </th>

                    <th>
                        <dd6>
                            <h2 class="w3-large">@Html.TextBoxFor(model => model.AlertsToEmail, new { id = "alertsToEmail", style = "width:270px"})</h2>
                        </dd6>
                    </th>
                </tr>
            </table>
        </div>

        <button type="button" class="button button3" id="saveSettingsButton" onclick="saveSettings()">Save settings</button>
    </dl>
</div>
<p>

</p>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="/js/jquery.dataTables.js"></script>

<script type="text/javascript">

    function saveSettings() {

        var settings = {

            "CriticalTemperatureAlertYN": $('#temperatureAlertYNCheckBox').is(':checked'),
            "CriticalTemperatureAlertValue": $('#temperatureAlertValueTextBox').val(),
            "CriticalHumidityAlertYN": $('#humidityAlertYNCheckBox').is(':checked'),
            "CriticalHumidityAlertValue": $('#humidityAlertYNCheckBox').is(':checked'),
            "DeleteTemperatureHumidityHistoricalDataOlderThan": $('#deleteTemperatureHumidityOlderThanTextBox').val(),
            "DeleteTemperatureHumidityHistoricalDataOlderThanUnitMeasure": $('#deleteTemperatureHumidityOlderThanUnitMeasureDropDownList').val(),
            "MotionDetectionAlertYN": $('#motionDetectionAlertYNCheckBox').is(':checked'),
            "SoundDetectionAlertYN": $('#soundDetectionAlertYNCheckBox').is(':checked'),
            "CriticalGasAlertYN": $('#gasDetectionAlertYNCheckBox').is(':checked'),
            "AlertsToEmail": $('#alertsToEmail').val(),
            "DeleteMotionDetectionHistoricalDataOlderThan": $('#deleteMotionDetectionOlderThanTextBox').val(),
            "DeleteMotionDetectionHistoricalDataOlderThanUnitMeasure": $('#deleteMotionDetectionOlderThanUnitMeasureDropDownList').val(),
            "DeleteSoundDetectionHistoricalDataOlderThan": $('#deleteSoundDetectionOlderThanTextBox').val(),
            "DeleteSoundDetectionHistoricalDataOlderThanUnitMeasure": $('#deleteSoundDetectionOlderThanUnitMeasureDropDownList').val(),
            "CriticalGasHistoricalDataOlderThan": $('#deleteGasOlderThanTextBox').val(),
            "CriticalGasHistoricalDataOlderThanUnitMeasure": $('#deleteGasOlderThanUnitMeasureDropDownList').val()

        }

        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveSettings", "Home")',
            data: settings,
            dataType: "json",
            success: function (data) {

                alert("Saved");

            }
        });
    }

    //function enableDisableTemperatureAlert() {

    //    if ($('#temperatureAlertYNCheckBox').is(':checked')) {
    //        $('#temperatureAlertValueTextBox').removeAttr("disabled");
    //    }
    //    else {
    //        $('#temperatureAlertValueTextBox').attr("disabled", "disabled");
    //        $('#temperatureAlertValueTextBox').val('');
    //    }
    //}

    //function enableDisableHumidityAlert() {

    //    if ($('#humidityAlertYNCheckBox').is(':checked')) {
    //        $('#humidityAlertValueTextBox').removeAttr("disabled");
    //    }
    //    else {
    //        $('#humidityAlertValueTextBox').attr("disabled", "disabled");
    //        $('#humidityAlertValueTextBox').val('');
    //    }
    //}

</script>
